# Chapter 2: Essential DataFrame Operations

In [1]:
import pandas as pd
import numpy as np
pd.set_option('max_columns', 4, 'max_rows', 10, 'max_colwidth', 12)

## Introduction

## Selecting Multiple DataFrame Columns

### How to do it\...

In [2]:
movies = pd.read_csv('data/movie.csv')
movie_actor_director = movies[['actor_1_name', 'actor_2_name',
    'actor_3_name', 'director_name']]
movie_actor_director.head()

  actor_1_name actor_2_name actor_3_name director_name
0  CCH Pounder  Joel Dav...    Wes Studi  James Ca...
1  Johnny Depp  Orlando ...  Jack Dav...  Gore Ver...
2  Christop...  Rory Kin...  Stephani...   Sam Mendes
3    Tom Hardy  Christia...  Joseph G...  Christop...
4  Doug Walker   Rob Walker          NaN  Doug Walker

In [3]:
type(movies[['director_name']])

pandas.core.frame.DataFrame

In [4]:
type(movies['director_name'])

pandas.core.series.Series

In [5]:
type(movies.loc[:, ['director_name']])

pandas.core.frame.DataFrame

In [6]:
type(movies.loc[:, 'director_name'])

pandas.core.series.Series

### How it works\...

### There\'s more\...

In [7]:
cols = ['actor_1_name', 'actor_2_name',
        'actor_3_name', 'director_name']
movie_actor_director = movies[cols]

In [8]:
movies['actor_1_name', 'actor_2_name',
      'actor_3_name', 'director_name']

KeyError: ('actor_1_name', 'actor_2_name', 'actor_3_name', 'director_name')

## Selecting Columns with Methods

### How it works\...

In [9]:
movies = pd.read_csv('data/movie.csv')
def shorten(col):
    return (col.replace('facebook_likes', 'fb')
               .replace('_for_reviews', '')
    )
movies = movies.rename(columns=shorten)
movies.get_dtype_counts()

AttributeError: 'DataFrame' object has no attribute 'get_dtype_counts'

In [10]:
movies.select_dtypes(include='int').head()

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4]

In [11]:
movies.select_dtypes(include='number').head()

   num_critic  duration  ...  aspect_ratio  movie_fb
0       723.0     178.0  ...         1.78      33000
1       302.0     169.0  ...         2.35          0
2       602.0     148.0  ...         2.35      85000
3       813.0     164.0  ...         2.35     164000
4         NaN       NaN  ...          NaN          0

[5 rows x 16 columns]

In [12]:
movies.select_dtypes(include=['int', 'object']).head()

   color director_name  ... country content_rating
0  Color  James Ca...   ...     USA        PG-13
1  Color  Gore Ver...   ...     USA        PG-13
2  Color   Sam Mendes   ...      UK        PG-13
3  Color  Christop...   ...     USA        PG-13
4    NaN  Doug Walker   ...     NaN          NaN

[5 rows x 12 columns]

In [13]:
movies.select_dtypes(exclude='float').head()

   color director_name  ... content_rating movie_fb
0  Color  James Ca...   ...        PG-13      33000
1  Color  Gore Ver...   ...        PG-13          0
2  Color   Sam Mendes   ...        PG-13      85000
3  Color  Christop...   ...        PG-13     164000
4    NaN  Doug Walker   ...          NaN          0

[5 rows x 15 columns]

In [14]:
movies.filter(like='fb').head()

   director_fb  actor_3_fb  ...  actor_2_fb  movie_fb
0          0.0       855.0  ...       936.0     33000
1        563.0      1000.0  ...      5000.0         0
2          0.0       161.0  ...       393.0     85000
3      22000.0     23000.0  ...     23000.0    164000
4        131.0         NaN  ...        12.0         0

[5 rows x 6 columns]

In [15]:
cols = ['actor_1_name', 'actor_2_name',
        'actor_3_name', 'director_name']
movies.filter(items=cols).head()

  actor_1_name actor_2_name actor_3_name director_name
0  CCH Pounder  Joel Dav...    Wes Studi  James Ca...
1  Johnny Depp  Orlando ...  Jack Dav...  Gore Ver...
2  Christop...  Rory Kin...  Stephani...   Sam Mendes
3    Tom Hardy  Christia...  Joseph G...  Christop...
4  Doug Walker   Rob Walker          NaN  Doug Walker

In [16]:
movies.filter(regex=r'\d').head()

   actor_3_fb actor_2_name  ...  actor_3_name actor_2_fb
0       855.0  Joel Dav...  ...    Wes Studi       936.0
1      1000.0  Orlando ...  ...  Jack Dav...      5000.0
2       161.0  Rory Kin...  ...  Stephani...       393.0
3     23000.0  Christia...  ...  Joseph G...     23000.0
4         NaN   Rob Walker  ...          NaN        12.0

[5 rows x 6 columns]

### How it works\...

### There\'s more\...

### See also

## Ordering Column Names

### How to do it\...

In [17]:
movies = pd.read_csv('data/movie.csv')
def shorten(col):
    return (col.replace('facebook_likes', 'fb')
               .replace('_for_reviews', '')
    )
movies = movies.rename(columns=shorten)

In [18]:
movies.columns

Index(['color', 'director_name', 'num_critic', 'duration', 'director_fb',
       'actor_3_fb', 'actor_2_name', 'actor_1_fb', 'gross', 'genres',
       'actor_1_name', 'movie_title', 'num_voted_users', 'cast_total_fb',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user', 'language', 'country', 'content_rating',
       'budget', 'title_year', 'actor_2_fb', 'imdb_score', 'aspect_ratio',
       'movie_fb'],
      dtype='object')

In [19]:
cat_core = ['movie_title', 'title_year',
            'content_rating', 'genres']
cat_people = ['director_name', 'actor_1_name',
              'actor_2_name', 'actor_3_name']
cat_other = ['color', 'country', 'language',
             'plot_keywords', 'movie_imdb_link']
cont_fb = ['director_fb', 'actor_1_fb',
           'actor_2_fb', 'actor_3_fb',
           'cast_total_fb', 'movie_fb']
cont_finance = ['budget', 'gross']
cont_num_reviews = ['num_voted_users', 'num_user',
                    'num_critic']
cont_other = ['imdb_score', 'duration',
               'aspect_ratio', 'facenumber_in_poster']

In [20]:
new_col_order = cat_core + cat_people + \
                cat_other + cont_fb + \
                cont_finance + cont_num_reviews + \
                cont_other
set(movies.columns) == set(new_col_order)

True

In [21]:
movies[new_col_order].head()

   movie_title  title_year  ... aspect_ratio facenumber_in_poster
0       Avatar      2009.0  ...         1.78          0.0
1  Pirates ...      2007.0  ...         2.35          0.0
2      Spectre      2015.0  ...         2.35          1.0
3  The Dark...      2012.0  ...         2.35          0.0
4  Star War...         NaN  ...          NaN          0.0

[5 rows x 28 columns]

### How it works\...

### There\'s more\...

### See also

## Summarizing a DataFrame

### How to do it\...

In [22]:
movies = pd.read_csv('data/movie.csv')
movies.shape

(4916, 28)

In [23]:
movies.size

137648

In [24]:
movies.ndim

2

In [25]:
len(movies)

4916

In [26]:
movies.count()

color                      4897
director_name              4814
num_critic_for_reviews     4867
duration                   4901
director_facebook_likes    4814
                           ...
title_year                 4810
actor_2_facebook_likes     4903
imdb_score                 4916
aspect_ratio               4590
movie_facebook_likes       4916
Length: 28, dtype: int64

In [27]:
movies.min()

num_critic_for_reviews        1
duration                      7
director_facebook_likes       0
actor_3_facebook_likes        0
actor_1_facebook_likes        0
                           ...
title_year                 1916
actor_2_facebook_likes        0
imdb_score                  1.6
aspect_ratio               1.18
movie_facebook_likes          0
Length: 19, dtype: object

In [28]:
movies.describe().T

               count         mean  ...       75%       max
num_criti...  4867.0   137.988905  ...    191.00     813.0
duration      4901.0   107.090798  ...    118.00     511.0
director_...  4814.0   691.014541  ...    189.75   23000.0
actor_3_f...  4893.0   631.276313  ...    633.00   23000.0
actor_1_f...  4909.0  6494.488491  ...  11000.00  640000.0
...              ...          ...  ...       ...       ...
title_year    4810.0  2002.447609  ...   2011.00    2016.0
actor_2_f...  4903.0  1621.923516  ...    912.00  137000.0
imdb_score    4916.0     6.437429  ...      7.20       9.5
aspect_ratio  4590.0     2.222349  ...      2.35      16.0
movie_fac...  4916.0  7348.294142  ...   2000.00  349000.0

[16 rows x 8 columns]

In [29]:
movies.describe(percentiles=[.01, .3, .99]).T

               count         mean  ...       99%       max
num_criti...  4867.0   137.988905  ...    546.68     813.0
duration      4901.0   107.090798  ...    189.00     511.0
director_...  4814.0   691.014541  ...  16000.00   23000.0
actor_3_f...  4893.0   631.276313  ...  11000.00   23000.0
actor_1_f...  4909.0  6494.488491  ...  44920.00  640000.0
...              ...          ...  ...       ...       ...
title_year    4810.0  2002.447609  ...   2016.00    2016.0
actor_2_f...  4903.0  1621.923516  ...  17000.00  137000.0
imdb_score    4916.0     6.437429  ...      8.50       9.5
aspect_ratio  4590.0     2.222349  ...      4.00      16.0
movie_fac...  4916.0  7348.294142  ...  93850.00  349000.0

[16 rows x 9 columns]

### How it works\...

### There\'s more\...

In [30]:
movies.min(skipna=False)

num_critic_for_reviews     NaN
duration                   NaN
director_facebook_likes    NaN
actor_3_facebook_likes     NaN
actor_1_facebook_likes     NaN
                          ...
title_year                 NaN
actor_2_facebook_likes     NaN
imdb_score                 1.6
aspect_ratio               NaN
movie_facebook_likes         0
Length: 19, dtype: object

## Chaining DataFrame Methods

### How to do it\...

In [31]:
movies = pd.read_csv('data/movie.csv')
def shorten(col):
    return (col.replace('facebook_likes', 'fb')
               .replace('_for_reviews', '')
    )
movies = movies.rename(columns=shorten)
movies.isnull().head()

   color  director_name  ...  aspect_ratio  movie_fb
0  False        False    ...        False      False
1  False        False    ...        False      False
2  False        False    ...        False      False
3  False        False    ...        False      False
4   True        False    ...         True      False

[5 rows x 28 columns]

In [32]:
(movies
   .isnull()
   .sum()
   .head()
)

color             19
director_name    102
num_critic        49
duration          15
director_fb      102
dtype: int64

In [33]:
movies.isnull().sum().sum()

2654

In [34]:
movies.isnull().any().any()

True

### How it works\...

In [35]:
movies.isnull().get_dtype_counts()

AttributeError: 'DataFrame' object has no attribute 'get_dtype_counts'

### There\'s more\...

In [36]:
movies[['color', 'movie_title', 'color']].max()

Series([], dtype: float64)

In [37]:
with pd.option_context('max_colwidth', 20):
    movies.select_dtypes(['object']).fillna('').max()

In [38]:
with pd.option_context('max_colwidth', 20):
    (movies
        .select_dtypes(['object'])
        .fillna('')
        .max()
    )

### See also

## DataFrame Operations

In [39]:
colleges = pd.read_csv('data/college.csv')
colleges + 5

TypeError: can only concatenate str (not "int") to str

In [40]:
colleges = pd.read_csv('data/college.csv', index_col='INSTNM')
college_ugds = colleges.filter(like='UGDS_')
college_ugds.head()

              UGDS_WHITE  UGDS_BLACK  ...  UGDS_NRA  UGDS_UNKN
INSTNM                                ...
Alabama A...      0.0333      0.9353  ...    0.0059     0.0138
Universit...      0.5922      0.2600  ...    0.0179     0.0100
Amridge U...      0.2990      0.4192  ...    0.0000     0.2715
Universit...      0.6988      0.1255  ...    0.0332     0.0350
Alabama S...      0.0158      0.9208  ...    0.0243     0.0137

[5 rows x 9 columns]

In [41]:
name = 'Northwest-Shoals Community College'
college_ugds.loc[name]

UGDS_WHITE    0.7912
UGDS_BLACK    0.1250
UGDS_HISP     0.0339
UGDS_ASIAN    0.0036
UGDS_AIAN     0.0088
UGDS_NHPI     0.0006
UGDS_2MOR     0.0012
UGDS_NRA      0.0033
UGDS_UNKN     0.0324
Name: Northwest-Shoals Community College, dtype: float64

In [42]:
college_ugds.loc[name].round(2)

UGDS_WHITE    0.79
UGDS_BLACK    0.12
UGDS_HISP     0.03
UGDS_ASIAN    0.00
UGDS_AIAN     0.01
UGDS_NHPI     0.00
UGDS_2MOR     0.00
UGDS_NRA      0.00
UGDS_UNKN     0.03
Name: Northwest-Shoals Community College, dtype: float64

In [43]:
(college_ugds.loc[name] + .0001).round(2)

UGDS_WHITE    0.79
UGDS_BLACK    0.13
UGDS_HISP     0.03
UGDS_ASIAN    0.00
UGDS_AIAN     0.01
UGDS_NHPI     0.00
UGDS_2MOR     0.00
UGDS_NRA      0.00
UGDS_UNKN     0.03
Name: Northwest-Shoals Community College, dtype: float64

In [44]:
college_ugds + .00501

              UGDS_WHITE  UGDS_BLACK  ...  UGDS_NRA  UGDS_UNKN
INSTNM                                ...
Alabama A...     0.03831     0.94031  ...   0.01091    0.01881
Universit...     0.59721     0.26501  ...   0.02291    0.01501
Amridge U...     0.30401     0.42421  ...   0.00501    0.27651
Universit...     0.70381     0.13051  ...   0.03821    0.04001
Alabama S...     0.02081     0.92581  ...   0.02931    0.01871
...                  ...         ...  ...       ...        ...
SAE Insti...         NaN         NaN  ...       NaN        NaN
Rasmussen...         NaN         NaN  ...       NaN        NaN
National ...         NaN         NaN  ...       NaN        NaN
Bay Area ...         NaN         NaN  ...       NaN        NaN
Excel Lea...         NaN         NaN  ...       NaN        NaN

[7535 rows x 9 columns]

In [45]:
(college_ugds + .00501) // .01

              UGDS_WHITE  UGDS_BLACK  ...  UGDS_NRA  UGDS_UNKN
INSTNM                                ...
Alabama A...         3.0        94.0  ...       1.0        1.0
Universit...        59.0        26.0  ...       2.0        1.0
Amridge U...        30.0        42.0  ...       0.0       27.0
Universit...        70.0        13.0  ...       3.0        4.0
Alabama S...         2.0        92.0  ...       2.0        1.0
...                  ...         ...  ...       ...        ...
SAE Insti...         NaN         NaN  ...       NaN        NaN
Rasmussen...         NaN         NaN  ...       NaN        NaN
National ...         NaN         NaN  ...       NaN        NaN
Bay Area ...         NaN         NaN  ...       NaN        NaN
Excel Lea...         NaN         NaN  ...       NaN        NaN

[7535 rows x 9 columns]

In [46]:
college_ugds_op_round = (college_ugds + .00501) // .01 / 100
college_ugds_op_round.head()

              UGDS_WHITE  UGDS_BLACK  ...  UGDS_NRA  UGDS_UNKN
INSTNM                                ...
Alabama A...        0.03        0.94  ...      0.01       0.01
Universit...        0.59        0.26  ...      0.02       0.01
Amridge U...        0.30        0.42  ...      0.00       0.27
Universit...        0.70        0.13  ...      0.03       0.04
Alabama S...        0.02        0.92  ...      0.02       0.01

[5 rows x 9 columns]

In [47]:
college_ugds_round = (college_ugds + .00001).round(2)
college_ugds_round

              UGDS_WHITE  UGDS_BLACK  ...  UGDS_NRA  UGDS_UNKN
INSTNM                                ...
Alabama A...        0.03        0.94  ...      0.01       0.01
Universit...        0.59        0.26  ...      0.02       0.01
Amridge U...        0.30        0.42  ...      0.00       0.27
Universit...        0.70        0.13  ...      0.03       0.04
Alabama S...        0.02        0.92  ...      0.02       0.01
...                  ...         ...  ...       ...        ...
SAE Insti...         NaN         NaN  ...       NaN        NaN
Rasmussen...         NaN         NaN  ...       NaN        NaN
National ...         NaN         NaN  ...       NaN        NaN
Bay Area ...         NaN         NaN  ...       NaN        NaN
Excel Lea...         NaN         NaN  ...       NaN        NaN

[7535 rows x 9 columns]

In [48]:
college_ugds_op_round.equals(college_ugds_round)

True

### How it works\...

In [49]:
.045 + .005

0.049999999999999996

### There\'s more\...

In [50]:
college2 = (college_ugds
    .add(.00501) 
    .floordiv(.01) 
    .div(100)
)
college2.equals(college_ugds_op_round)

True

### See also

## Comparing Missing Values

In [51]:
np.nan == np.nan

False

In [52]:
None == None

True

In [53]:
np.nan > 5

False

In [54]:
5 > np.nan

False

In [55]:
np.nan != 5

True

### Getting ready

In [56]:
college = pd.read_csv('data/college.csv', index_col='INSTNM')
college_ugds = college.filter(like='UGDS_')

In [57]:
college_ugds == .0019

              UGDS_WHITE  UGDS_BLACK  ...  UGDS_NRA  UGDS_UNKN
INSTNM                                ...
Alabama A...       False       False  ...     False      False
Universit...       False       False  ...     False      False
Amridge U...       False       False  ...     False      False
Universit...       False       False  ...     False      False
Alabama S...       False       False  ...     False      False
...                  ...         ...  ...       ...        ...
SAE Insti...       False       False  ...     False      False
Rasmussen...       False       False  ...     False      False
National ...       False       False  ...     False      False
Bay Area ...       False       False  ...     False      False
Excel Lea...       False       False  ...     False      False

[7535 rows x 9 columns]

In [58]:
college_self_compare = college_ugds == college_ugds
college_self_compare.head()

              UGDS_WHITE  UGDS_BLACK  ...  UGDS_NRA  UGDS_UNKN
INSTNM                                ...
Alabama A...        True        True  ...      True       True
Universit...        True        True  ...      True       True
Amridge U...        True        True  ...      True       True
Universit...        True        True  ...      True       True
Alabama S...        True        True  ...      True       True

[5 rows x 9 columns]

In [59]:
college_self_compare.all()

UGDS_WHITE    False
UGDS_BLACK    False
UGDS_HISP     False
UGDS_ASIAN    False
UGDS_AIAN     False
UGDS_NHPI     False
UGDS_2MOR     False
UGDS_NRA      False
UGDS_UNKN     False
dtype: bool

In [60]:
(college_ugds == np.nan).sum()

UGDS_WHITE    0
UGDS_BLACK    0
UGDS_HISP     0
UGDS_ASIAN    0
UGDS_AIAN     0
UGDS_NHPI     0
UGDS_2MOR     0
UGDS_NRA      0
UGDS_UNKN     0
dtype: int64

In [61]:
college_ugds.isnull().sum()

UGDS_WHITE    661
UGDS_BLACK    661
UGDS_HISP     661
UGDS_ASIAN    661
UGDS_AIAN     661
UGDS_NHPI     661
UGDS_2MOR     661
UGDS_NRA      661
UGDS_UNKN     661
dtype: int64

In [62]:
college_ugds.equals(college_ugds)

True

### How it works\...

### There\'s more\...

In [63]:
college_ugds.eq(.0019)    # same as college_ugds == .0019

              UGDS_WHITE  UGDS_BLACK  ...  UGDS_NRA  UGDS_UNKN
INSTNM                                ...
Alabama A...       False       False  ...     False      False
Universit...       False       False  ...     False      False
Amridge U...       False       False  ...     False      False
Universit...       False       False  ...     False      False
Alabama S...       False       False  ...     False      False
...                  ...         ...  ...       ...        ...
SAE Insti...       False       False  ...     False      False
Rasmussen...       False       False  ...     False      False
National ...       False       False  ...     False      False
Bay Area ...       False       False  ...     False      False
Excel Lea...       False       False  ...     False      False

[7535 rows x 9 columns]

In [64]:
from pandas.testing import assert_frame_equal
assert_frame_equal(college_ugds, college_ugds) is None

True

## Transposing the direction of a DataFrame operation

### How to do it\...

In [65]:
college = pd.read_csv('data/college.csv', index_col='INSTNM')
college_ugds = college.filter(like='UGDS_')
college_ugds.head()

              UGDS_WHITE  UGDS_BLACK  ...  UGDS_NRA  UGDS_UNKN
INSTNM                                ...
Alabama A...      0.0333      0.9353  ...    0.0059     0.0138
Universit...      0.5922      0.2600  ...    0.0179     0.0100
Amridge U...      0.2990      0.4192  ...    0.0000     0.2715
Universit...      0.6988      0.1255  ...    0.0332     0.0350
Alabama S...      0.0158      0.9208  ...    0.0243     0.0137

[5 rows x 9 columns]

In [66]:
college_ugds.count()

UGDS_WHITE    6874
UGDS_BLACK    6874
UGDS_HISP     6874
UGDS_ASIAN    6874
UGDS_AIAN     6874
UGDS_NHPI     6874
UGDS_2MOR     6874
UGDS_NRA      6874
UGDS_UNKN     6874
dtype: int64

In [67]:
college_ugds.count(axis='columns').head()

INSTNM
Alabama A & M University               9
University of Alabama at Birmingham    9
Amridge University                     9
University of Alabama in Huntsville    9
Alabama State University               9
dtype: int64

In [68]:
college_ugds.sum(axis='columns').head()

INSTNM
Alabama A & M University               1.0000
University of Alabama at Birmingham    0.9999
Amridge University                     1.0000
University of Alabama in Huntsville    1.0000
Alabama State University               1.0000
dtype: float64

In [69]:
college_ugds.median(axis='index')

UGDS_WHITE    0.55570
UGDS_BLACK    0.10005
UGDS_HISP     0.07140
UGDS_ASIAN    0.01290
UGDS_AIAN     0.00260
UGDS_NHPI     0.00000
UGDS_2MOR     0.01750
UGDS_NRA      0.00000
UGDS_UNKN     0.01430
dtype: float64

### How it works\...

### There\'s more\...

In [70]:
college_ugds_cumsum = college_ugds.cumsum(axis=1)
college_ugds_cumsum.head()

              UGDS_WHITE  UGDS_BLACK  ...  UGDS_NRA  UGDS_UNKN
INSTNM                                ...
Alabama A...      0.0333      0.9686  ...    0.9862     1.0000
Universit...      0.5922      0.8522  ...    0.9899     0.9999
Amridge U...      0.2990      0.7182  ...    0.7285     1.0000
Universit...      0.6988      0.8243  ...    0.9650     1.0000
Alabama S...      0.0158      0.9366  ...    0.9863     1.0000

[5 rows x 9 columns]

### See also

## Determining college campus diversity

In [71]:
pd.read_csv('data/college_diversity.csv', index_col='School')

              Diversity Index
School
Rutgers U...         0.76
Andrews U...         0.74
Stanford ...         0.74
Universit...         0.74
Universit...         0.74
Universit...         0.74
San Franc...         0.73
Universit...         0.73
New Jerse...         0.72
Texas Wom...         0.72

### How to do it\...

In [72]:
college = pd.read_csv('data/college.csv', index_col='INSTNM')
college_ugds = college.filter(like='UGDS_')

In [73]:
(college_ugds.isnull()
   .sum(axis='columns')
   .sort_values(ascending=False)
   .head()
)

INSTNM
Excel Learning Center-San Antonio South         9
Philadelphia College of Osteopathic Medicine    9
Assemblies of God Theological Seminary          9
Episcopal Divinity School                       9
Phillips Graduate Institute                     9
dtype: int64

In [74]:
college_ugds = college_ugds.dropna(how='all')
college_ugds.isnull().sum()

UGDS_WHITE    0
UGDS_BLACK    0
UGDS_HISP     0
UGDS_ASIAN    0
UGDS_AIAN     0
UGDS_NHPI     0
UGDS_2MOR     0
UGDS_NRA      0
UGDS_UNKN     0
dtype: int64

In [75]:
college_ugds.ge(.15)

              UGDS_WHITE  UGDS_BLACK  ...  UGDS_NRA  UGDS_UNKN
INSTNM                                ...
Alabama A...       False        True  ...     False      False
Universit...        True        True  ...     False      False
Amridge U...        True        True  ...     False       True
Universit...        True       False  ...     False      False
Alabama S...       False        True  ...     False      False
...                  ...         ...  ...       ...        ...
Hollywood...        True        True  ...     False      False
Hollywood...       False        True  ...     False      False
Coachella...        True       False  ...     False      False
Dewey Uni...       False       False  ...     False      False
Coastal P...        True        True  ...     False      False

[6874 rows x 9 columns]

In [76]:
diversity_metric = college_ugds.ge(.15).sum(axis='columns')
diversity_metric.head()

INSTNM
Alabama A & M University               1
University of Alabama at Birmingham    2
Amridge University                     3
University of Alabama in Huntsville    1
Alabama State University               1
dtype: int64

In [77]:
diversity_metric.value_counts()

1    3042
2    2884
3     876
4      63
0       7
5       2
dtype: int64

In [78]:
diversity_metric.sort_values(ascending=False).head()

INSTNM
Regency Beauty Institute-Austin          5
Central Texas Beauty College-Temple      5
Sullivan and Cogliano Training Center    4
Ambria College of Nursing                4
Berkeley College-New York                4
dtype: int64

In [79]:
college_ugds.loc[['Regency Beauty Institute-Austin',
                   'Central Texas Beauty College-Temple']]

              UGDS_WHITE  UGDS_BLACK  ...  UGDS_NRA  UGDS_UNKN
INSTNM                                ...
Regency B...      0.1867      0.2133  ...       0.0     0.2667
Central T...      0.1616      0.2323  ...       0.0     0.1515

[2 rows x 9 columns]

In [80]:
us_news_top = ['Rutgers University-Newark',
                  'Andrews University',
                  'Stanford University',
                  'University of Houston',
                  'University of Nevada-Las Vegas']
diversity_metric.loc[us_news_top]

INSTNM
Rutgers University-Newark         4
Andrews University                3
Stanford University               3
University of Houston             3
University of Nevada-Las Vegas    3
dtype: int64

### How it works\...

### There\'s more\...

In [81]:
(college_ugds
   .max(axis=1)
   .sort_values(ascending=False)
   .head(10)
)

INSTNM
Dewey University-Manati                               1.0
Yeshiva and Kollel Harbotzas Torah                    1.0
Mr Leon's School of Hair Design-Lewiston              1.0
Dewey University-Bayamon                              1.0
Shepherds Theological Seminary                        1.0
Yeshiva Gedolah Kesser Torah                          1.0
Monteclaro Escuela de Hoteleria y Artes Culinarias    1.0
Yeshiva Shaar Hatorah                                 1.0
Bais Medrash Elyon                                    1.0
Yeshiva of Nitra Rabbinical College                   1.0
dtype: float64

In [ ]:
(college_ugds > .01).all(axis=1).any()

### See also