# 6주차 데이터 부분집합 선택

# 개요  
때론 데이터의 전부가 아닌 부분만 필요한 경우가 있죠. pandas에서는 다양한 조건을 걸어 일부분을 선택할 수 있습니다.

# 1. Series에서 데이터 선택  
loc과 iloc은 pandas에서 기본이 되는 함수로 각각 인덱스, 순서 기준으로 데이터를 불러올 수 있습니다.  
Series와 DF 모두 사용 가능한 함수들입니다.  
먼저 Series를 보도록 하겠습니다.

In [2]:
import pandas as pd
import numpy as np

In [3]:
college=pd.read_csv('data/college.csv',index_col='INSTNM')
city=college['CITY']
city

INSTNM
Alabama A & M University                                            Normal
University of Alabama at Birmingham                             Birmingham
Amridge University                                              Montgomery
University of Alabama in Huntsville                             Huntsville
Alabama State University                                        Montgomery
                                                                ...
SAE Institute of Technology  San Francisco                      Emeryville
Rasmussen College - Overland Park                            Overland Park
National Personal Training Institute of Cleveland         Highland Heights
Bay Area Medical Academy - San Jose Satellite Location            San Jose
Excel Learning Center-San Antonio South                        San Antonio
Name: CITY, Length: 7535, dtype: object

pd.Series는 두 가지 요소로 구성됩니다. index+data 이죠.  
pd.DataFrame은 여기에 columns가 추가됩니다.  
city series의 구성을 살펴보겠습니다.  

시리즈는 인덱스와 값 두가지로 구성되기 떄문입니다.

In [4]:
city.index

Index(['Alabama A & M University', 'University of Alabama at Birmingham',
       'Amridge University', 'University of Alabama in Huntsville',
       'Alabama State University', 'The University of Alabama',
       'Central Alabama Community College', 'Athens State University',
       'Auburn University at Montgomery', 'Auburn University',
       ...
       'Strayer University-North Dallas', 'Strayer University-San Antonio',
       'Strayer University-Stafford', 'WestMed College - Merced',
       'Vantage College', 'SAE Institute of Technology  San Francisco',
       'Rasmussen College - Overland Park',
       'National Personal Training Institute of Cleveland',
       'Bay Area Medical Academy - San Jose Satellite Location',
       'Excel Learning Center-San Antonio South'],
      dtype='object', name='INSTNM', length=7535)

In [5]:
city.values

array(['Normal', 'Birmingham', 'Montgomery', ..., 'Highland Heights',
       'San Jose', 'San Antonio'], dtype=object)

index를 이용해 loc을 완성해보겠습니다.  
특정값을 가져오고 싶으면 loc을 사용할 수 있습니다.  
말그대로 location을 가져오겠다.

In [6]:
city.loc['Alabama A & M University']

'Normal'

당연히 iloc도 사용할 수 있습니다.

In [7]:
city.iloc[0]

'Normal'

이제는 익숙합니다. 인덱싱도 가능하죠  
결과값이 Series라는 것을 잘 봐둡니다.

In [8]:
city[['Alabama A & M University','Alabama State University']]

INSTNM
Alabama A & M University        Normal
Alabama State University    Montgomery
Name: CITY, dtype: object

위의 문장을 loc으로 바꾸면  
loc이 깔끔합니다. 데이터프레임같은경우에는 인덱스를 가리키는지 로케이션을 가리키는지 헷갈리므로 명시적으로 써주는게 좋습니다.

In [9]:
city.loc[['Alabama A & M University','Alabama State University']]

INSTNM
Alabama A & M University        Normal
Alabama State University    Montgomery
Name: CITY, dtype: object

iloc으로 동일한 작업을 해줍니다.

In [10]:
city.iloc[[0,4]]

INSTNM
Alabama A & M University        Normal
Alabama State University    Montgomery
Name: CITY, dtype: object

여기서 조금 더 재미있는 인덱싱을 해보겠습니다.  
마치 숫자로 된 인덱스를 슬라이스하듯, 텍스트 인덱스도 동일하게 사용할 수 있습니다.  
문자를 이용해서 슬라이싱을 할 수 있었죠. 콜론으로 묶어주면 이 사이들이 모두 출력되죠

In [11]:
city['Alabama A & M University':'Alabama State University']

INSTNM
Alabama A & M University                   Normal
University of Alabama at Birmingham    Birmingham
Amridge University                     Montgomery
University of Alabama in Huntsville    Huntsville
Alabama State University               Montgomery
Name: CITY, dtype: object

숫자로 슬라이싱할땐 조심하세요.

In [12]:
city[5]

'Tuscaloosa'

비슷한 작업

마지막 5는 빠지고 0,1,2,3,4만 걸린답니다.

In [13]:
city[0:5]

INSTNM
Alabama A & M University                   Normal
University of Alabama at Birmingham    Birmingham
Amridge University                     Montgomery
University of Alabama in Huntsville    Huntsville
Alabama State University               Montgomery
Name: CITY, dtype: object

일반 적인 슬라이싱과는 다르게 마지막 것도 포함되어서 출력되는군요

In [14]:
city.loc['Alabama A & M University':'Alabama State University']

INSTNM
Alabama A & M University                   Normal
University of Alabama at Birmingham    Birmingham
Amridge University                     Montgomery
University of Alabama in Huntsville    Huntsville
Alabama State University               Montgomery
Name: CITY, dtype: object

비슷한 작업을 해보죠  
iloc도 가능하죠 숫자로 넣어도되고, 인덱스로 넣어도됩니다.[[]]  
저는 iloc을 추천하지만! 남의 코드는 그렇게 작성안되어있을 수 있으니까요

In [15]:
city.iloc[0:5]

INSTNM
Alabama A & M University                   Normal
University of Alabama at Birmingham    Birmingham
Amridge University                     Montgomery
University of Alabama in Huntsville    Huntsville
Alabama State University               Montgomery
Name: CITY, dtype: object

불리언 배열을 이용하면 True 인 것들만 가져올 수 있습니다.   
city에서 퍼밍험과 몽고베리는 트루를 주며,  
city에 알라바마크만 넣어주면 위 속한학교들만 나온답니다.

In [16]:
alabama_mask=city.isin(['Birmingham','Montgomery'])
city[alabama_mask]

INSTNM
University of Alabama at Birmingham                 Birmingham
Amridge University                                  Montgomery
Alabama State University                            Montgomery
Auburn University at Montgomery                     Montgomery
Birmingham Southern College                         Birmingham
South University-Montgomery                         Montgomery
Faulkner University                                 Montgomery
Herzing University-Birmingham                       Birmingham
Huntingdon College                                  Montgomery
Jefferson State Community College                   Birmingham
Lawson State Community College-Birmingham Campus    Birmingham
Samford University                                  Birmingham
Southeastern Bible College                          Birmingham
H Councill Trenholm State Community College         Montgomery
West Virginia University Institute of Technology    Montgomery
Virginia College-Birmingham                         Birmingham
Southeastern School of Cosmetology                  Birmingham
Strayer University-Alabama                          Birmingham
University of Phoenix-Alabama                       Birmingham
Virginia College-Montgomery                         Montgomery
Fortis College-Montgomery                           Montgomery
Fortis Institute-Birmingham                         Birmingham
Hair Academy                                        Montgomery
Brown Mackie College-Birmingham                     Birmingham
Nunation School of Cosmetology                      Birmingham
Troy University-Montgomery Campus                   Montgomery
Name: CITY, dtype: object

iloc과 loc을 사용하는 것과 그냥 s[]를 사용하는 것은 결과적으로 같아 보입니다.  
하지만 코드의 가독성과 관리를 위해서는 명시적으로 어떤 기준에서 데이터를 선택하는지 보여주는 것이 좋습니다.  
아래의 예를 보면서 어떤 말인지 알아보겠습니다.  
인덱스 자체에 숫자가 들어갔는데, 기대했던 순서가아닌경우 문제가 생기죠.

In [17]:
s=pd.Series([10,20,35,28],index=[5,2,3,1])

In [18]:
s

5    10
2    20
3    35
1    28
dtype: int64

파이썬 슬라이싱에서 a;b라면, a는 포함/ b는 불포함이 원칙입니다.  
하지만 인덱스를 이용한 슬라이싱은 양쪽 모두를 포함합니다.  
그러니까 아래 코드는 굉장히 헷갈리는 표현인 것이죠.

In [19]:
s[0:4] # 0,1,2,3,인데

5    10
2    20
3    35
1    28
dtype: int64

In [20]:
s[1]
print(s.iloc[1],s.loc[1])

20 28

In [21]:
s[5]

10

# 2. DF 에서 행 선택

DF든 S든 loc/iloc을 사용하는 것은 같기 때문에 어렵지 않게 접근할 수 있을 겁니다.

In [22]:
college.head()

,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
INSTNM,,,,,,,,,,,,,,,,,,,,,
Alabama A & M University,Normal,AL,1.0,0.0,0.0,0,424.0,420.0,0.0,4206.0,...,0.0000,0.0059,0.0138,0.0656,1,0.7356,0.8284,0.1049,30300,33888
University of Alabama at Birmingham,Birmingham,AL,0.0,0.0,0.0,0,570.0,565.0,0.0,11383.0,...,0.0368,0.0179,0.0100,0.2607,1,0.3460,0.5214,0.2422,39700,21941.5
Amridge University,Montgomery,AL,0.0,0.0,0.0,1,NaN,NaN,1.0,291.0,...,0.0000,0.0000,0.2715,0.4536,1,0.6801,0.7795,0.8540,40100,23370
University of Alabama in Huntsville,Huntsville,AL,0.0,0.0,0.0,0,595.0,590.0,0.0,5451.0,...,0.0172,0.0332,0.0350,0.2146,1,0.3072,0.4596,0.2640,45500,24097
Alabama State University,Montgomery,AL,1.0,0.0,0.0,0,425.0,430.0,0.0,4811.0,...,0.0098,0.0243,0.0137,0.0892,1,0.7347,0.7554,0.1270,26600,33118.5

In [23]:
college.iloc[4] #5번항을 선택하죠

CITY                  Montgomery
STABBR                        AL
HBCU                           1
MENONLY                        0
WOMENONLY                      0
RELAFFIL                       0
SATVRMID                     425
SATMTMID                     430
DISTANCEONLY                   0
UGDS                        4811
UGDS_WHITE                0.0158
UGDS_BLACK                0.9208
UGDS_HISP                 0.0121
UGDS_ASIAN                0.0019
UGDS_AIAN                  0.001
UGDS_NHPI                 0.0006
UGDS_2MOR                 0.0098
UGDS_NRA                  0.0243
UGDS_UNKN                 0.0137
PPTUG_EF                  0.0892
CURROPER                       1
PCTPELL                   0.7347
PCTFLOAN                  0.7554
UG25ABV                    0.127
MD_EARN_WNE_P10            26600
GRAD_DEBT_MDN_SUPP       33118.5
Name: Alabama State University, dtype: object

In [24]:
college.loc['Alabama State University']

CITY                  Montgomery
STABBR                        AL
HBCU                           1
MENONLY                        0
WOMENONLY                      0
RELAFFIL                       0
SATVRMID                     425
SATMTMID                     430
DISTANCEONLY                   0
UGDS                        4811
UGDS_WHITE                0.0158
UGDS_BLACK                0.9208
UGDS_HISP                 0.0121
UGDS_ASIAN                0.0019
UGDS_AIAN                  0.001
UGDS_NHPI                 0.0006
UGDS_2MOR                 0.0098
UGDS_NRA                  0.0243
UGDS_UNKN                 0.0137
PPTUG_EF                  0.0892
CURROPER                       1
PCTPELL                   0.7347
PCTFLOAN                  0.7554
UG25ABV                    0.127
MD_EARN_WNE_P10            26600
GRAD_DEBT_MDN_SUPP       33118.5
Name: Alabama State University, dtype: object

떨어져 있는 행을 선택할 땐,

In [25]:
college.iloc[[1,3,5]]

,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
INSTNM,,,,,,,,,,,,,,,,,,,,,
University of Alabama at Birmingham,Birmingham,AL,0.0,0.0,0.0,0,570.0,565.0,0.0,11383.0,...,0.0368,0.0179,0.0100,0.2607,1,0.3460,0.5214,0.2422,39700,21941.5
University of Alabama in Huntsville,Huntsville,AL,0.0,0.0,0.0,0,595.0,590.0,0.0,5451.0,...,0.0172,0.0332,0.0350,0.2146,1,0.3072,0.4596,0.2640,45500,24097
The University of Alabama,Tuscaloosa,AL,0.0,0.0,0.0,0,555.0,565.0,0.0,29851.0,...,0.0261,0.0268,0.0026,0.0844,1,0.2040,0.4010,0.0853,41900,23750

loc를 사용하면

In [26]:
college.loc[['University of Alabama at Birmingham',
 'University of Alabama in Huntsville',
 'The University of Alabama']]

,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
INSTNM,,,,,,,,,,,,,,,,,,,,,
University of Alabama at Birmingham,Birmingham,AL,0.0,0.0,0.0,0,570.0,565.0,0.0,11383.0,...,0.0368,0.0179,0.0100,0.2607,1,0.3460,0.5214,0.2422,39700,21941.5
University of Alabama in Huntsville,Huntsville,AL,0.0,0.0,0.0,0,595.0,590.0,0.0,5451.0,...,0.0172,0.0332,0.0350,0.2146,1,0.3072,0.4596,0.2640,45500,24097
The University of Alabama,Tuscaloosa,AL,0.0,0.0,0.0,0,555.0,565.0,0.0,29851.0,...,0.0261,0.0268,0.0026,0.0844,1,0.2040,0.4010,0.0853,41900,23750

연속되는 구간이라면 슬라이싱 합니다.  
iloc이므로 숫자슬라이싱. a:b에서 a는 포함, b는 불포함이죠.  
근데 loc일 때 인덱스에서는 포함이 된다 !!  
따라서 3,4 Row만 포함이되죠

In [27]:
college.iloc[3:5]

,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
INSTNM,,,,,,,,,,,,,,,,,,,,,
University of Alabama in Huntsville,Huntsville,AL,0.0,0.0,0.0,0,595.0,590.0,0.0,5451.0,...,0.0172,0.0332,0.0350,0.2146,1,0.3072,0.4596,0.264,45500,24097
Alabama State University,Montgomery,AL,1.0,0.0,0.0,0,425.0,430.0,0.0,4811.0,...,0.0098,0.0243,0.0137,0.0892,1,0.7347,0.7554,0.127,26600,33118.5

이렇게 변형할 수도 있습니다.   
a행부터 b행까지 가져올 수 있죠. b포함해서요.

In [28]:
a = 'Alabama A & M University'
b = 'Alabama State University'
college.loc[a:b]

,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
INSTNM,,,,,,,,,,,,,,,,,,,,,
Alabama A & M University,Normal,AL,1.0,0.0,0.0,0,424.0,420.0,0.0,4206.0,...,0.0000,0.0059,0.0138,0.0656,1,0.7356,0.8284,0.1049,30300,33888
University of Alabama at Birmingham,Birmingham,AL,0.0,0.0,0.0,0,570.0,565.0,0.0,11383.0,...,0.0368,0.0179,0.0100,0.2607,1,0.3460,0.5214,0.2422,39700,21941.5
Amridge University,Montgomery,AL,0.0,0.0,0.0,1,NaN,NaN,1.0,291.0,...,0.0000,0.0000,0.2715,0.4536,1,0.6801,0.7795,0.8540,40100,23370
University of Alabama in Huntsville,Huntsville,AL,0.0,0.0,0.0,0,595.0,590.0,0.0,5451.0,...,0.0172,0.0332,0.0350,0.2146,1,0.3072,0.4596,0.2640,45500,24097
Alabama State University,Montgomery,AL,1.0,0.0,0.0,0,425.0,430.0,0.0,4811.0,...,0.0098,0.0243,0.0137,0.0892,1,0.7347,0.7554,0.1270,26600,33118.5

# 3. 행과 열 동시에 선택하기  
위에서는 loc과 iloc을 이용해 행을 선택했습니다.  
그런데 DF는 row와 column이 있기에, 한 차원을 더 선택할 수 있죠.  
| df.iloc[row_index,column_index]  
| df.loc[row_names,column_names]  
아래의 예를 보곘습니다.  
앞에있는건 Row 0,1,2까지 나오고  
뒤에있는건 Cokumn이니까 0,1,2,3 까지 나오곘군요 !!

In [29]:
college.iloc[:3,:4]

                                           CITY STABBR  HBCU  MENONLY
INSTNM
Alabama A & M University                 Normal     AL   1.0      0.0
University of Alabama at Birmingham  Birmingham     AL   0.0      0.0
Amridge University                   Montgomery     AL   0.0      0.0

파이썬 슬라이싱 규칙에 따라, 모든 행(열)을 선택할 때엔 : 만 남깁니다.   
모든 행해서 4번과 6번만 선택해라 !

In [30]:
college.iloc[:,[4,6]].head()

                                     WOMENONLY  SATVRMID
INSTNM
Alabama A & M University                   0.0     424.0
University of Alabama at Birmingham        0.0     570.0
Amridge University                         0.0       NaN
University of Alabama in Huntsville        0.0     595.0
Alabama State University                   0.0     425.0

떨어져 있는 행과 열은,  
두개의 리스트를 전달했기에 row는 101,201 col은 4,6번을 가져오게 됩니다.

In [31]:
college.iloc[[100,200],[3,5]]

                                       MENONLY  RELAFFIL
INSTNM
GateWay Community College                  0.0         0
American Baptist Seminary of the West      0.0         1

별도의 리스트로 관리하기  
각각의 내가 가져오고싶은 row와 column 이름을 리스트 형태로 만들어서 해 줄 수도 있죠.

In [32]:
rows = ['GateWay Community College', 'American Baptist Seminary of the West']
cols = ['MENONLY', 'RELAFFIL']
college.loc[rows, cols]

                                       MENONLY  RELAFFIL
INSTNM
GateWay Community College                  0.0         0
American Baptist Seminary of the West      0.0         1

단일값을 선택할 때는 1개씩만  
-는 끝에서 내번쨰라는거 아시죠?

In [33]:
college.iloc[5,-4]

0.401

In [34]:
college.loc['The University of Alabama','PCTFLOAN']

0.401

슬라이싱의 세 번째 옵션  

90~ 80(마지막 미포함)사이에서 1씩 증가한다. 세번째 파라미터를 넣으면 스탭이다. 즉, 90~80까지 -2씩 움직여라라는 뜻이된다. 그러니 총 5개가 들어가게 되죠.  
5번이니 6번째 컬럼을 가져와라입니다.

In [35]:
college.iloc[90:80:-2,5]

INSTNM
Empire Beauty School-Flagstaff     0
Charles of Italy Beauty College    0
Central Arizona College            0
University of Arizona              0
Arizona State University-Tempe     0
Name: RELAFFIL, dtype: int64

# 4. 정수와 레이블을 동시에 사용하기  
pandas 의 예전 버전에서는 정수와 레이블을 동시에 사용하는 메서드가 있었습니다.  
df.ix[4,'test']와 같이요,  
하지만 해당 메서드가 혼란을 가중시켜, 결국 현재 버전에서는 사라졌습니다.  
그래서 레이블->인덱스 혹은 인덱스->레이블 작업을 거쳐, loc 혹은 iloc을 사용해야 합니다.  
아래의 코드를 보겠습니다.

In [36]:
college.columns.get_loc('UGDS_WHITE')

10

컬럼명(인덱스명)->숫자 (인덱스  
get_loc은 몇번째 존재하는지 알려달라는 뜻입니다. 10번쨰에 존재하고 있군요.
숫자로 할거니 iloc을 하는데 1을 더하지않으면 그놈은 포함되지 않으니 1을 더해주어야 합니다.

In [37]:
col_start = college.columns.get_loc('UGDS_WHITE')
col_end = college.columns.get_loc('UGDS_UNKN') + 1
college.iloc[:5, col_start:col_end]

,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN
INSTNM,,,,,,,,,
Alabama A & M University,0.0333,0.9353,0.0055,0.0019,0.0024,0.0019,0.0000,0.0059,0.0138
University of Alabama at Birmingham,0.5922,0.2600,0.0283,0.0518,0.0022,0.0007,0.0368,0.0179,0.0100
Amridge University,0.2990,0.4192,0.0069,0.0034,0.0000,0.0000,0.0000,0.0000,0.2715
University of Alabama in Huntsville,0.6988,0.1255,0.0382,0.0376,0.0143,0.0002,0.0172,0.0332,0.0350
Alabama State University,0.0158,0.9208,0.0121,0.0019,0.0010,0.0006,0.0098,0.0243,0.0137

여기서 row를 고려해보겠습니다.  
11번에서 16번까지

In [38]:
row_start = college.index[10]
row_end = college.index[15]
college.loc[row_start:row_end, 'UGDS_WHITE':'UGDS_UNKN']

,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN
INSTNM,,,,,,,,,
Birmingham Southern College,0.7983,0.1102,0.0195,0.0517,0.0102,0.0000,0.0051,0.0000,0.0051
Chattahoochee Valley Community College,0.4661,0.4372,0.0492,0.0127,0.0023,0.0035,0.0151,0.0000,0.0139
Concordia College Alabama,0.0280,0.8758,0.0373,0.0093,0.0000,0.0000,0.0031,0.0466,0.0000
South University-Montgomery,0.3046,0.6054,0.0153,0.0153,0.0153,0.0096,0.0000,0.0019,0.0326
Enterprise State Community College,0.6408,0.2435,0.0509,0.0202,0.0081,0.0029,0.0254,0.0012,0.0069
James H Faulkner State Community College,0.6979,0.2259,0.0320,0.0084,0.0177,0.0014,0.0152,0.0007,0.0009

이렇게 할 수는 있는데, 하지 마세요.  
성능이 매우 떨어질 수 있고, VIEW를 반환하는 것인지 사본을 반환하는 것인지 확실하지 않습니다.    
앞에서는 숫자를 가져오고 뒤에서는 문자를 가져오죠. 데이터가 커지면 굉장히 느려집니다. iloc을 계산하고 loc을 하면 느립니다. 위에서 iloc과 loc을 깔끔하게 정리하는 것보다 느려지게 됩니다. 


인덱스로 하니 뒤에꺼 까지 포함해서 가져오게 되죠.
iloc을 쓴다음에 loc을 쓰는것은 매우 비효율적입니다.

In [39]:

college.iloc[10:16].loc[:,'UGDS_WHITE':'UGDS_UNKN']

,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN
INSTNM,,,,,,,,,
Birmingham Southern College,0.7983,0.1102,0.0195,0.0517,0.0102,0.0000,0.0051,0.0000,0.0051
Chattahoochee Valley Community College,0.4661,0.4372,0.0492,0.0127,0.0023,0.0035,0.0151,0.0000,0.0139
Concordia College Alabama,0.0280,0.8758,0.0373,0.0093,0.0000,0.0000,0.0031,0.0466,0.0000
South University-Montgomery,0.3046,0.6054,0.0153,0.0153,0.0153,0.0096,0.0000,0.0019,0.0326
Enterprise State Community College,0.6408,0.2435,0.0509,0.0202,0.0081,0.0029,0.0254,0.0012,0.0069
James H Faulkner State Community College,0.6979,0.2259,0.0320,0.0084,0.0177,0.0014,0.0152,0.0007,0.0009

# 5. 사전실 슬라이싱  
인덱스를 정렬한 뒤 슬라이싱을 사용하면, 사전식으로 접근할 수 있습니다.  
아래를 보도록 합니다.   
컬럼이 정렬되어있는 경우에는 Sp에서 시작하는것부터 Su로 끝나는 것 까지 포함해줘 지금 에러나는 이유는 정렬안돼서 그렇죠

In [40]:
college.loc['Sp':'Su']

KeyError: 'Sp'

기본 상황에서는 실패합니다.  
하지만 index를 정렬한 뒤 다시 동일한 명령을 시행하면, 사전식으로 잘라서 줍니다.  
Sp와 Su 사이에 있는 대학들이 나오겠죠.

In [ ]:
col_sorted = college.sort_index()
col_sorted.loc['Sp':'Su']

만약에 거꾸로 정렬이 되어 있다면, 인덱싱도 거꾸로 해주면 됩니다.

In [ ]:
col_sorted_reversed=college.sort_index(ascending=False)
col_sorted_reversed.loc['E':'B']